<div class="row">
    <div class="card bg-dark text-white">
        <img class="card-img-overlay" [src]="artista.images | noimage" [alt]="artista.name">
        <div class="card-img-overlay">
            <h5 class="card-title">{{artista.name}}</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <span class="badge badge-pill badge-info">{{artista.followers.total | number}} seguidores</span>
        </div>
    </div>
</div>